<div id="mainbox">
	<div id="headerbox">
		<img id="logoHeader" src="/assets/logowithwords.png">
		<div class="row">
			<div class="col-md-4 col-centered">
				<h3 id="logoHeaderTag">The Official Website for <a target="_ref" href="http://www.reddit.com/r/rocketleague">Reddit's Rocket League Subreddit</a></h3>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<div class="fadedBox fadedLeftBox fadedOrangeBox">
				<div class="customleftBar"></div>
				<h2 class="title leftTitle">NEWS</h2>
				<div class="row">
					<div class="col-md-12">
						<p>
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
						</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="fadedBox fadedLeftBox fadedBlueBox">
						<div class="customleftBar"></div>
						<h2 class="title leftTitle">TOURNAMENTS</h2>
						<div class="row">
							<div class="col-md-12">
								<p>
									<% @tourneys.each do |tourney| %>
									<h2><%= tourney.name %></h2>
									<% end %>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-2 col-md-push-2">
			<div class="fadedBox fadedRightBox fadedGrayBox">
				<div class="customRightBar"></div>
				<h2 class="title rightTitle">
					<img class="twitterLogo" src="/assets/twitter.png"> TWITTER
				</h2>
				<div class="row">
					<div class="col-md-12">
						<p>
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


STUFF STUFFSTUFF STUFFSTUFF STUFFSTUFF STUFFSTUFF STUFFSTUFF STUFFSTUFF STUFFSTUFF STUFFSTUFF STUFFSTUFF STUFFSTUFF STUFFSTUFF STUFFSTUFF STUFFSTUFF STUFFSTUFF STUFFSTUFF STUFFSTUFF STUFFSTUFF STUFFSTUFF STUFFSTUFF STUFFSTUFF STUFFSTUFF STUFFSTUFF STUFF