<div id="mainbox">
	<div id="headerbox">
		<img id="logoHeader" src="/assets/logowithwords.png">
		<div class="row">
			<div class="col-md-4 col-centered">
				<h3 id="logoHeaderTag">The Official Website for <a target="_blank" href="http://www.reddit.com/r/rocketleague">/r/RocketLeague</a></h3>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-centered">
			<h2>What's Happening Now...</h2>
					<object type="application/x-shockwave-flash" height="550" width="100%"     id="live_embed_player_flash" data="http://www.twitch.tv/widgets/live_embed_player.swf?channel=low5ive" bgcolor="#000000">
	        <param name="allowFullScreen" value="true" />
	        <param name="allowScriptAccess" value="always" />
	        <param name="allowNetworking" value="all" />
	        <param name="movie" value="http://www.twitch.tv/widgets/live_embed_player.swf" />
	        <param name="flashvars" value="hostname=www.twitch.tv&channel=low5ive&auto_play=true&start_volume=25" />
				    </object>
				    <a id="twitchLink" href="#" style="float:right"><img src="/assets/twitter.png" class="twitterLogo" /> Follow us on Twitch!</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2 col-md-push-8">
			
		</div>
	</div>
</div>


STUFF STUFFSTUFF STUFFSTUFF STUFFSTUFF STUFFSTUFF STUFFSTUFF STUFFSTUFF STUFFSTUFF STUFFSTUFF STUFFSTUFF STUFFSTUFF STUFFSTUFF STUFFSTUFF STUFFSTUFF STUFFSTUFF STUFFSTUFF STUFFSTUFF STUFFSTUFF STUFFSTUFF STUFFSTUFF STUFFSTUFF STUFFSTUFF STUFFSTUFF STUFF


<% @tourneys.each do |tourney| %>
<h2><%= tourney.name %></h2>
<% end %>
<img class="twitterLogo" src="/assets/twitter.png"> TWITTER