
<div id="mainbox">
	<div id="headerbox">
		<img id="logoHeader" src="/assets/logowithwords.png">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-centered">
					<h3 id="logoHeaderTag">The Official Website for <a target="_blank" href="http://www.reddit.com/r/rocketleague">/r/RocketLeague</a></h3>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-centered">
				<h2>What's Happening Now...</h2>
				<object type="application/x-shockwave-flash" height="550" width="100%"     id="live_embed_player_flash" data="http://www.twitch.tv/widgets/live_embed_player.swf?channel=low5ive" bgcolor="#000000">
					<param name="allowFullScreen" value="true" />
					<param name="allowScriptAccess" value="always" />
					<param name="allowNetworking" value="all" />
					<param name="movie" value="http://www.twitch.tv/widgets/live_embed_player.swf" />
					<param name="flashvars" value="hostname=www.twitch.tv&channel=low5ive&auto_play=true&start_volume=25" />
				</object>
				<a id="twitchLink" href="https://twitter.com/RedditLeague" target="_blank" style="float:right"><img src="/assets/twitter.png" class="twitterLogo" /> Follow us on Twitter!</a>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-8">
			<h2>Upcoming Tourneys</h2>
			<div class="well">
				<div class="row">
					<div class="col-md-6">
						<h2 class="tourneyName"><a target="_blank" href="/tournament/index">Draft Tourney</a></h2>
					</div>
					<div class="col-md-6">
						<h4 class="tourneyTime">Saturday April 23, 12:00 PM EDT</h4>
					</div>
				</div>
				<!-- tourneys.each do |tourney| 
					<div class="row">
						<div class="col-md-6">
							<h2 class="tourneyName">tourney.name </h2>
						</div>
						<div class="col-md-6">
							<h4 class="tourneyTime">tourney.start_at.to_datetime.strftime('%A, %B %d %l:%M %p')  CDT</h4>
						</div>
					</div>
					end -->
					discord box

					<img class="twitterLogo" src="/assets/twitter.png"> TWITTER
				</div>
			</div>
		</div>
	</div>