/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require 'bootstrap.min'
 *= require 'bootstrap-override'
 *= require 'robotoregular'
 *= require 'scaffolds'
 *= require 'welcome'
  *= require 'menustyles'
 */

body {
	background-color: #ecf0f1;
	font-family: "robotoregular" 
}

h1 {
	font-size: 50px;
}

#cssmenu {
	box-shadow: 2px 2px 10px #000;
}

#twitchLink {
	font-weight: bold;
	font-size: 20px;
	color: black;
	padding: 5px;
	background-color: #ffffff;
	border-radius: 2px;
}

/*.fadedBox {
	margin-top: 15px;
	margin-bottom: 15px;
	padding-bottom: 15px;
	color: white;
	box-shadow: 1px 1px 10px #000;
}
.fadedBox .title {
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
    height: 0px;
    margin-top: -.5px;
    display: inline-block;
    position: absolute;
    font-weight: bolder;
}

.fadedBox .leftTitle {
    width: 60%;
}

.fadedBox .rightTitle {
	width: 90%;
    right: 0px;
}

.fadedBox .customleftBar {
	position: absolute;
	border-right: 50px solid transparent;
    border-top: 50px solid rgb(76,76,76);
    width: 60%;
}

.fadedBox .customRightBar {
	position: absolute;
	right: 0px;
	border-left: 50px solid transparent;
    border-top: 50px solid rgb(76,76,76);
    width: 90%;
}

.fadedBox p {
	margin-top: 50px;
	padding: 10px
}*/


.twitterLogo {
	width: 30px;
	margin-top: -5px;
}

/*.fadedBlueBox {
	background-color: rgba( 0, 61, 148, 0.6 );
}

.fadedGrayBox {
	background-color: rgba(52, 152, 219,.6);
}

.fadedOrangeBox {
	background-color: rgba( 255, 139, 0, 0.6 );
}

.fadedRightBox {
	border-top-left-radius: 8px; 
	border-bottom-left-radius: 8px;
}

.fadedLeftBox {
	border-top-right-radius: 8px; 
	border-bottom-right-radius: 8px;
}*/