<!DOCTYPE html>
<html>
<head>
	<title>Reddit League</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div id='cssmenu'>
		<ul>
			<li class="active"><a href='/'>Home</a></li>
			<li><a href='#'>Tournaments</a></li>
			<li class='has-sub'><a href='#'>Tournament Sign Ups</a>
				<ul>
					<li class='has-sub'><a href='#'>NA Tourneys</a>
						<ul>
							<li><a href='#'>1v1 Sign Up</a></li>
							<li><a href='#'>2v2 Sign Up</a></li>
							<li><a href='#'>3v3 Sign Up</a></li>
						</ul>
					</li>
					<li class='has-sub'><a href='#'>EU Tourneys</a>
						<ul>
							<li><a href='#'>1v1 Sign Up</a></li>
							<li><a href='#'>2v2 Sign Up</a></li>
							<li><a href='#'>3v3 Sign Up</a></li>
						</ul>
					</li>
				</ul>
			</li>
			<li><a href='#'>Rules</a></li>
			<li><a href='#'>Contact Us</a></li>
		</ul>
	</div>
	<%= yield %>
</body>
</html>
